@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* palette colors */
:root {
    --background: #043873;
    --background-secondary: #4f9cf9;
    --text: #fff;
    --text-secondary: #212529;
    --btn-background: #4f9cf9; 
    --btn-primary-hover: #71abee;
    --btn-secondary: #ffe492;
    --btn-secondary-hover: #d1b664;
}
/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
}
html {
    font-size: 62.5%;
}
body {
    background-color: var(--background);
}
a {
    text-decoration: none;
}
a:hover {
    color: var(--btn-secondary);
}
.btn-buy button a {
    color: var(--text);
}
section.container {
    max-width: 1280px;
    margin: 0 auto;
}
/* header */
header {
    background-color: var(--background);
    position: sticky;
    inset: 0 0 auto 0;
    z-index: 10;
    box-shadow: 0 0 1px #333;
}
header .logo a {
    color: var(--text);
    font-size: 1.5rem;
}
/* header .logo img {
    width: 12rem;
} */
header .area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 2rem;
}
header .menu-opener {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
}
header .hamburger-icon {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}
header .hamburger-icon span {
    display: block;
    width: 100%;
    height: 0.2rem;
    background-color: var(--text);
}
header .close-icon {
    display: none;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: relative;
}
header .close-icon span {
    position: absolute;
    display: block;
    width: 100%;
    height: 0.2rem;
    background-color: var(--text);
}
header .close-icon span:first-child {
    transform: rotate(45deg);
}
header .close-icon span:last-child {
    transform: rotate(-45deg);
}
header nav {
    color: var(--text);
    overflow-y: hidden;
    max-height: 0;
    transition: all ease .5s;
}
header nav.opened {
    max-height: 100vh;
}
header nav ul {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}
header nav li {
    padding: 1rem 2rem;
    list-style: none;
}
header nav a {
    color: var(--text);
    text-decoration: none;
    font-size: 1.5rem;
}
header nav a:hover {
    opacity: 0.8;
}
.btn-login button {
    background-color: var(--btn-secondary);
    border: none;
    padding: 1rem 4rem;
    color: var(--text-secondary);
    font-weight: 600;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-left: 2rem;
    transition: all ease .5s;
}
.btn-login button:hover  {
    background-color: var(--btn-secondary-hover);
}
.btn-buy button {
    background-color: var(--btn-background);
    border: none;
    padding: 1rem 4rem;
    color: var(--text);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all ease .5s;
}
.btn-buy-w button {
    background-color: var(--btn-background);
    border: none;
    width: 250px;
    padding: 1rem 4rem;
    color: var(--text);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all ease .5s;
    margin-left: 2rem;
}
.btn-buy-w button:hover {
    background-color: var(--btn-primary-hover);
}
.btn-buy button:hover {
    background-color: var(--btn-primary-hover);
}

/* hero section */
section.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20rem 0;
}
.text-content {
    max-width: 50%;
}
section.hero h1 {
    color: var(--text);
    font-size: 6rem;
    margin-bottom: 1rem;
    max-width: 85%;
}
section.hero span {
    display: block;
    font-size: 1.3rem;
    color: var(--text);
    margin-bottom: 2rem;
}
section.hero .btn-buy {
    margin-top: 2rem;
}
section.hero .btn-buy button {
    padding: 1rem 4rem;
    font-size: 1.5rem;
    cursor: pointer;
}
section.hero .hero-img {
    max-width: 50%;
}
section.hero .hero-img img {
    width: 100%;
    height: auto;
}

/* project section */
section.project {
    background-color: var(--text);
    padding: 8rem 0;
}
.project .item-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
    margin-bottom: 5rem;
}
.project .item-right .work-img img {
    max-width: 100vw;
}
.project .item-right .txt-project h2 {
    font-size: 4rem;
    margin-bottom: 2rem;
}
.project .item-right .txt-project span {
    display: block;
    border-bottom: 5px solid var(--btn-secondary);
    max-width: 30rem;
}
.project .item-right .txt-project .border {
    max-width: 20rem;
}
.project .item-right .txt-project p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

/* extension */
section.extension {
    background-color: var(--background);
    padding: 8rem 2rem;
} 
.extension .item-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
    margin-bottom: 5rem;
}
.extension .item-right .work-img img {
    max-width: 100vw;
}
.extension .item-right .txt-project h2 {
    font-size: 4rem;
    margin-bottom: 2rem;
    color: var(--text);
}
.extension .item-right .txt-project span {
    display: block;
    border-bottom: 5px solid var(--btn-secondary);
    max-width: 23rem;
}
.extension .item-right .txt-project .border {
    max-width: 20rem;
}
.extension .item-right .txt-project p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: var(--text);
}

/* customise */
section.customise {
    background-color: var(--text);
    padding: 8rem 2rem;
} 
.customise .item-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
    margin-bottom: 5rem;
}
.customise .item-right .work-img img {
    max-width: 100vw;
}
.customise .item-right .txt-project h2 {
    font-size: 4rem;
    margin-bottom: 2rem;
}
.customise .item-right .txt-project span {
    display: block;
    border-bottom: 5px solid var(--btn-secondary);
    max-width: 35%; 
}
.customise .item-right .txt-project .border {
    max-width: 20rem;
}
.customise .item-right .txt-project p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

/* plans */

.plans {
    padding: 2rem 2rem 15rem;
    background-color: var(--text);
}

.your-plans {
    margin-bottom: 20px;
    text-align: center;
}

.your-plans h2 {
    font-size: 5rem;
    color: #333;
    margin-bottom: 10px;
}

.your-plans span {
    border-bottom: 5px solid var(--btn-secondary);
}

.your-plans p {
    font-size: 16px;
    color: #666;
}

.plans-grid {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.all-plans {
    flex: 1;
    background-color: var(--text);
    border: 1px solid var(--btn-secondary);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 1px 2px var(--btn-secondary);
    margin-top: 10rem;
}
.pro {
    background-color: var(--background);
    color: #f9f9f9;
    font-size: 1.3rem;
    margin-top: 3rem;
    
}
.pro-title h3 {
    color: var(--text);
}
.plans-details {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
}

.plans-details li {
    margin-bottom: 2rem;
    gap: 1.2rem;
    display: flex;
}

.plans-details h3 {
    margin: 0;
    font-size: 4rem;
}

.plans-details span {
    font-size: 3rem;
}
.plans-details li i {
    color: var(--btn-secondary-hover);
}
.btn-plans {
    text-align: center;
    margin-top: 20px;
}

.btn-plans a {
    text-decoration: none;
    color: #fff;
    background-color: var(--btn-background);
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    display: inline-block;
    margin-top: 5rem;
}
.btn-plans a:hover {
    background-color: var(--btn-primary-hover);
}

/* taskey */
.taskey {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}
.taskey h2 {
    color: var(--text);
    font-size: 5rem;
    margin-bottom: 2rem;
    text-align: center;
}
.taskey span {
    border-bottom: 5px solid var(--background-secondary);
}
.taskey p {
    color: var(--text);
    font-size: 1.2rem;
    text-align: center;
    max-width: 100rem;
}
.taskey .avatar img {
    position: absolute;
    margin: -20rem;
}
.btn-taskey {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}
.taskey .btn-taskey button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    background-color: var(--btn-background);
    border: none;
    padding: 1rem 4rem;
    color: var(--text);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all ease .5s;
}

/* date */
section.date {
    background-color: var(--text);
    padding: 8rem 2rem;
} 
.date .item-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
    margin-bottom: 5rem;
}
.date .item-right .work-img img {
    max-width: 100vw;
}
.date .item-right .txt-project h2 {
    font-size: 4rem;
    margin-bottom: 2rem;
    color: var(--text-secondary)
}
.date .item-right .txt-project span {
    display: block;
    border-bottom: 5px solid var(--btn-secondary);
    max-width: 23rem;
}
.date .item-right .txt-project .border {
    max-width: 20rem;
}
.date .item-right .txt-project p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: var(--text-secondary);
}

/* company */
section.company {
    background-color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem; 
}

section.company h2 {
    color: var(--text-secondary);
    font-size: 5rem;
    text-align: center;
    margin-bottom: 2rem; 
}

section.company h2 span {
    border-bottom: 5px solid var(--btn-secondary);
}

section.company .company-img {
    display: flex;
    gap: 20rem;
}

section.company .company-img img {
    width: 12rem;
    height: auto;
    object-fit: contain; 
}

/* favorite */
section.favorite {
    background-color: var(--background);
    padding: 8rem 0;
}
.favorite .item-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
    margin-bottom: 5rem;
}
.favorite .item-right .work-img img {
    max-width: 100vw;
}
.favorite .item-right .txt-project h2 {
    font-size: 5rem;
    margin-bottom: 2rem;
    color: var(--text);
}
.favorite .item-right .txt-project p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: var(--text);
}

/* feedback */

section.feedback {
    background-color: var(--text);
    padding: 8rem;
}

section.feedback .container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

article.box {
    flex: 1; 
    background-color: var(--btn-background);
    border-radius: 0.6rem;
    padding: 2rem;
}

section.feedback h2 {
    font-size: 5rem; 
    text-align: center;
    margin-bottom: 3rem;
}

section.feedback h2 span {
    border-bottom: 5px solid var(--btn-secondary);
    font-size: 5rem;
}
section.feedback span {
    font-size: 8rem;
}
section.feedback p {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    color: var(--text);
}
.profile {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    flex-direction: column;
}
.profile h3 {
    font-size: 2rem;
    font-weight: 500;
    color: var(--text-secondary);
}

.profile img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

/* contact */
section.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    padding: 8rem;
}
section.contact h3 {
    color: var(--text);
    font-size: 5rem;
}
section.contact p {
    text-align: center;
    font-size: 1.5rem;
    color: var(--text);
    padding: 0.5rem;
}
section.contact .btn-buy {
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.contact .icons {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text);
    gap: 8rem;
}
section.contact .icons i {
    font-size: 4rem;
}


/* footer */
section.footer {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: var(--background);
}

section.footer .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

section.footer .links {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
    margin: 0 1rem;
    color: var(--text);
    font-size: 1.3rem;
}

section.footer .links li {
    margin-bottom: 1rem;
}

section.footer .links a {
    text-decoration: none;
    color: var(--text);
    font-size: 1.2rem;
}

section.footer .links a:hover {
    text-decoration: underline;
}
section.footer .strong {
    font-weight: 600;
    font-size: 1.7rem;
}














/* Media Queries */

@media (max-width: 599px) {
    /* Hero Section */
    section.hero {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 2rem;
    }
    section.hero h1 {
        font-size: 3rem;
        color: var(--text);
    }
    .text-content {
        max-width: 100%;
    }
    section.hero span {
        color: var(--text);
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        line-height: 2.5rem;
    }
    section.hero .btn-buy {
        color: var(--text);
        display: flex;
        align-items: center;
        margin-top: 4rem;
    }
    section.hero .btn-buy button {
        font-size: 1.2rem;
    }
    section.hero .hero-img {
        max-width: 100vh;
        margin-top: 2rem;
    }

    /* Project Section */
    .project .item-right {
        flex-direction: column;
    }
    .project .item-right .work-img img {
        width: 100%;
    }
    .project .item-right .txt-project .border {
        max-width: 20rem;
    }
    .project .item-right .txt-project {
        padding: 0 2rem;
    }
    .project .item-right .txt-project p {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
    .project .item-right .txt-project .btn-buy button {
        margin-bottom: 2rem;
    }
    .btn-login button {
        margin-bottom: 2rem;
    }
    .project .item-right .item-1 {
        order: 1;
    }
    .project .item-right .item-2 {
        order: 0;
    }

    /* Extension */
    .extension .item-right {
        background-color: var(--background);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 2rem;
    }
    section.extension .work-img img {
        width: 100%;
    }

    /* Customise */
    .customise .item-right {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 2rem;
    }
    section.customise .work-img img {
        width: 100%;
    }
    .customise .item-right .txt-project span {
        display: block;
        border-bottom: 5px solid var(--btn-secondary);
        width: 70%;
    }

    /* Plans */
    .your-plans span {
        display: block;
        border-bottom: none;
    }
    .plans-grid {
        flex-direction: column;
        align-items: center;
    }
    .taskey .avatar img  {
        margin: -20rem 0;
    }
    .taskey h2 {
        font-size: 3rem;
        max-width: 30rem;
        margin-left: 15rem;
    }
    .taskey p {
        margin-top: 7rem;
        font-size: 1.5rem;
    }
    
    /* date */
    .date .item-right {
        flex-direction: column;
    }
    .date .item-right .txt-project p {
        max-width: 100vw;
    }
    .date .item-right .work-img img {
        max-width: 90vw;
        margin-top: 5rem;
    }

    /* company */
    section.company .company-img {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, 2fr);
        gap: 2rem;
    }
    /* favorite */
    section.favorite {
        flex-direction: column;
        display: flex;
    }
    section.favorite .item-right {
        flex-direction: column-reverse;
    }
    section.favorite .txt-project {
        padding: 2rem;
    }
    section.favorite .item-right .txt-project h2 {
        font-size: 3rem;
    }
    
    /* feedback */
    section.feedback {
        padding: 2rem;
    }
    section.feedback .container {
        display: flex;
        flex-direction: column;
    }
    /* footer */
    section.footer {
        padding: 3rem;
    }
    section.footer .container {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
    }
    section.footer .btn-buy {
        width: 20rem;
    }
}

/* Medium screens (600px to 799px) */
@media (min-width: 600px) and (max-width: 799px) {
    header {
        gap: 2rem;
    }
    .btn-login button {
        margin-left: 2rem;
        margin-bottom: 2rem;
    }
    section.project {
        padding: 8rem 2rem;
    }
    section.hero {
        padding: 10rem 2rem;
    }
    .customise .item-right .txt-project span {
        max-width: 100%;
    }
}

@media (width > 900px) {
    header .menu-opener {
        display: none;
    }
    header .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    header nav {
        max-height: 100vh;
    }
    header nav ul {
        flex-direction: row;
        padding-bottom: 0;
    }

}

